
<div class="tableau-list" >
  
    <div class = "card" >
        <div class = " card-header"> Liste des users </div>
        <div class = "card-body">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">username</th>
                    <th scope="col">nom</th>
                    <th scope="col">prénom</th>
                    <th scope="col">téléphone</th>
                    <th scope="col">mail</th>
                    <th scope="col">role</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor= "let u of users">
                    <th scope="row">{{u.idUser}}</th>
                    <td>{{u.username}}</td>
                    <td>{{u.firstName}}</td>
                    <td>{{u.lastName}}</td>
                    <td>{{u.phone}}</td>
                    <td>{{u.mail}}</td>
                    <td>{{u.role.role}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>