<div class="container" >
    <mat-card-title class="title-container" >
      <h1> Vos informations </h1>
    </mat-card-title>
    <mat-card>
      <div class="form-container" style="display: flex;">
        <form  #userForm="ngForm" >
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> username</mat-label>
            <input matInput name="username"  type ="text" value="{{user.username}}" readonly>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> nom</mat-label>
            <input matInput name="firstname"  type ="text"  value="{{user.firstName}}" readonly>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> prénom</mat-label>
            <input matInput name="lastname"  type ="text"  value="{{user.lastName}}" readonly>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline" >
            <mat-label>Téléphone</mat-label>
            <input matInput  name="phone" type="phone"   value="{{user.phone}}" readonly>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput  name="mail" type="email"   value="{{user.mail}}" readonly>
          </mat-form-field>
        </form>
      </div>
    </mat-card>
   
  </div>
