<div class="container">
<div class="form-container">
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Username
        </mat-label>
        <input matInput name="username" required ngModel>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> mot de passe
        </mat-label>
        <input matInput name="password" type="password" ngModel>

      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Connexion</button> &nbsp;

      <a routerLink="/register">S'inscrire</a>

    </form>
  </div>
</div>