<nav class="navbar navbar-expand-md bg-light navbar-light sticky-top" >
  <mat-icon >hotel</mat-icon>
  <a class="navbar-brand" href="#">&nbsp; AppliHotel</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a *ngIf="isAdmin()" class="nav-link" routerLink="/users">Utilisateurs</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="isAuthenticated()" class="nav-link" routerLink="/reservations">Réservations</a>
      </li>
    </ul>

    <ul *ngIf="!isAuthenticated()" class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a  routerLink="/login" class="nav-link"><span class="fas fa-sign-in-alt"></span> Connexion</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link"><span class="fas fa-user"></span> Inscription</a>
      </li>
    </ul>
    <ul *ngIf="isAuthenticated()" class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"> <b>Bonjour {{username}}</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/my_profil">Mon profil</a>
      </li>
      <li class="nav-item">
        <button (click)="logOut()" placeholder="se déconnecter" mat-icon-button>
          <mat-icon >logout</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</nav>



<router-outlet>
  
</router-outlet>

<div style="padding-bottom: 100px;">

</div>

<footer class="bg-dark text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="color: white;">
    Application développée par Bui Clémence et Nawel Charfi dans le cadre du cours de Programmation distrbuée <br> M2 MIAGE - Université de Paris
  </div>
  <!-- Copyright -->
</footer>