<div class="container">
    <mat-card-title class="title-container" >
      <h1> Enregister une nouvelle salle dans le catalogue </h1>
    </mat-card-title>
    <mat-card>
        <form [formGroup]="roomsService.venueForm" class="normal-form" (submit)="onSubmit()">
          <mat-grid-list cols="2" rowHeight="400px">
            <mat-grid-tile>
              <div class="form-container">
          <input type="hidden" formControlName="idRoom" >

          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Nom de chambre</mat-label>
            <input matInput formControlName="name"  type ="text" required  >
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Numéro de chambre</mat-label>
            <input matInput formControlName="roomNumber" required  >
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Numéro d'étage</mat-label>
            <input matInput  formControlName="floor" type="number" min="1" max="20" required  >
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Prix d'une nuit</mat-label>
            <input matInput  formControlName="price" placeholder="1000,00 €" required   >
          </mat-form-field>
         </div>
         </mat-grid-tile>
         <mat-grid-tile>
           <div class="form-container">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Nombre de Personnes</mat-label>
              <input matInput  formControlName="nbPerson" type="number" min="20" max="700" required  >
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Disposition</mat-label>
              <mat-select formControlName="setup" required  >
                <mat-option *ngFor="let d of dispositions" [value]="d.value" >
                  {{d.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-label> Avec podium ? </mat-label>
            <div><mat-slide-toggle class="form-field" formControlName="withPodium" appearance="outline" color="primary"   ></mat-slide-toggle></div>  
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Description
            </mat-label>
            <textarea matInput formControlName="description" required  ></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Enregistrer</button>
        </div>
         </mat-grid-tile>
          </mat-grid-list>
        </form>
    </mat-card>
   
  </div>