
.example-container{
    text-align: center
}

.form-container{
    width: 400px;
    height: 100%;
    margin: 0px auto; 
    margin-top: 50px;
}
.title-container{
    width: 1000px; 
    align-content:center;
    margin: 0px auto; 
    margin-top: 10px;
    color: grey ;
}

.form-field{
    display: block
}