<div class="tableau-list" >
  <mat-accordion>
    <mat-expansion-panel [expanded]="true" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mes réservations
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">N° Reservation</th>
            <th scope="col">numéro de chambre</th>
            <th scope="col">Username</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            
            <th scope="col"></th>
  
          </tr>
        </thead>
        <tbody >
           <tr *ngFor= "let r of myReservations">
            <td>{{r.idRent}}</td>
            <td>{{r.room.roomNumber}}</td>
            <td>{{r.person.username}}</td>
            <td>{{ r.beginRent | date : 'dd/MM/yyyy' }}</td>
            <td>{{r.endRent | date : 'dd/MM/yyyy'}}</td>
            <td>
              <button *ngIf="isAuthenticated()" mat-icon-button (click)='onEdit(r)'>
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="isAuthenticated()" mat-icon-button color="warn"  (click)="onDelete(r.idRent)">
                <mat-icon>cancel</mat-icon>
              </button> 
            </td>
            
          </tr> 
        </tbody>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="isAdmin()" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Toutes les réservations
        </mat-panel-title>
        <mat-panel-description>
          Cette section comprend toutes les réservations de l'Hôtel y compris les vôtres
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">N° Reservation</th>
            <th scope="col">numéro de chambre</th>
            <th scope="col">Username</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            
            <th scope="col"></th>
  
          </tr>
        </thead>
        <tbody >
           <tr *ngFor= "let r of reservations">
            <td>{{r.idRent}}</td>
            <td>{{r.room.roomNumber}}</td>
            <td>{{r.person.username}}</td>
            <td>{{ r.beginRent | date : 'dd/MM/yyyy' }}</td>
            <td>{{r.endRent | date : 'dd/MM/yyyy'}}</td>
            <td>
              <button *ngIf="isAuthenticated()" mat-icon-button (click)='onEdit(r)'>
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="isAuthenticated()" mat-icon-button color="warn"  (click)="onDelete(r.idRent)">
                <mat-icon>cancel</mat-icon>
              </button> 
            </td>
            
          </tr> 
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

        
       
    </div>
    
    