
          <div class="container">
            <mat-card-title class="title-container" >
              
              <h1> Effectuer une réservation </h1>
              
            </mat-card-title>
            <mat-card>
                <mat-grid-list cols="2" rowHeight="300px">
                    <mat-grid-tile>
                        <div class="form-container">
                            <p> <b>Nom: </b> {{Room.name}} </p>
                            <p> <b>Numéro de la chambre: </b> {{Room.roomNumber}} </p>
                            <p> <b>Description: </b> {{Room.description}} </p>
                            <p> <b>Etage: </b> {{Room.floor}} </p>
                            <p> <b>Prix: </b> {{Room.price}} €</p>
                        </div>
                        
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="isAuthenticated()">
                        <div class="form-container">
                            <form [formGroup]="reservationService.reservForm" class="normal-form" (submit)="onSubmit()">
                                <input type="hidden" formControlName="idRent" >
                      
                      
                            <mat-form-field readonly class="form-field" appearance="outline">
                                    <mat-label> username</mat-label>
                                    <input matInput type ="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" readonly>
                                </mat-form-field>
                                
                                
                                
                                <mat-form-field class="form-field" appearance="fill">
                                    <mat-label>Choisissez la durée de votre séjour</mat-label>
                                    <mat-date-range-input [rangePicker]="picker" [min]="minDate">
                                    <input   matStartDate formControlName="beginRent" placeholder="Start date">
                                    <input matEndDate formControlName="endRent" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                                <button mat-raised-button color="primary" type="submit">Enregistrer</button>
            
                            </form>
                </div>
                    </mat-grid-tile>


                    <mat-grid-tile *ngIf="!isAuthenticated()">
                        <div class="form-container">
                        <p> Veuillez vous connecter avant de procéder à cette reservation</p>
                        <button mat-raised-button color="primary" (click)="redirectLoginPage()">Me connecter</button>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                

  </mat-card>
 
</div>

