<div class="container">
  <mat-card-title class="title-container">
    <h1> Enregister une nouvelle suite dans le catalogue </h1>
  </mat-card-title>

  <mat-card>
    <form [formGroup]="roomsService.suiteForm" class="normal-form" (submit)="onSubmit()">
      <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <div class="form-container">

            <input type="hidden" formControlName="idRoom">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Nom de chambre</mat-label>
              <input matInput formControlName="name" type="text" required>
              <mat-error>Erreur</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Numéro de chambre</mat-label>
              <input matInput formControlName="roomNumber" type="number" required>
              <mat-error>Erreur</mat-error>

            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Numéro d'étage</mat-label>
              <input matInput formControlName="floor" type="number" min="1" max="20" required>
              <mat-error>Erreur</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Prix d'une nuit</mat-label>
              <input matInput formControlName="price" type="number" placeholder="1000,00 €" required>
              <mat-error>Erreur</mat-error>
            </mat-form-field>
          </div>

        </mat-grid-tile>
        <mat-grid-tile>
          <div class="form-container">

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Nombre de chambres</mat-label>
              <input matInput formControlName="nbRoom" type="number" min="1" max="4" required>
              <mat-error>Erreur</mat-error>
            </mat-form-field>
            <mat-label> Avec cuisine ? </mat-label>
            <div>
              <mat-slide-toggle class="form-field" formControlName="hasKitchen" appearance="outline" color="primary">
              </mat-slide-toggle>
            </div>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Description
              </mat-label>
              <textarea matInput formControlName="description" required></textarea>
              <mat-error>Erreur</mat-error>

            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Enregistrer</button>

          </div>


        </mat-grid-tile>
      </mat-grid-list>

    </form>
  </mat-card>

</div>