<div class="container" >
    <mat-card-title class="title-container" >
      <h1> Formulaire d'inscription </h1>
    </mat-card-title>
    <mat-card>
      <div class="form-container" style="display: flex;">
        <form  #f="ngForm" (ngSubmit)="onRegister(f.value)" >
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> username</mat-label>
            <input matInput name="username"  type ="text"  [(ngModel)] = "myModel.username" required>
            <mat-error>Erreur</mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> mot de passe</mat-label>
            <input matInput name="password" type="password"  [(ngModel)] = "myModel.password" required>
            <mat-error>Erreur</mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> nom</mat-label>
            <input matInput name="firstName"  type ="text"   [(ngModel)] = "myModel.firstName" required>
            <mat-error>Erreur</mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> prénom</mat-label>
            <input matInput name="lastName"  type ="text"   [(ngModel)] = "myModel.lastName" required>
            <mat-error>Erreur</mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline" >
            <mat-label>Téléphone</mat-label>
            <input matInput  name="phone" type="phone" minlength="10" maxlength="10" pattern="^[0-9()\-+\s]+$" [(ngModel)] = "myModel.phone"  required>
            <mat-error>Erreur</mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput  name="mail" type="email"  [(ngModel)] = "myModel.mail"  pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+.[a-zA-Z.]{2,15}"  required>             
             <mat-error>Erreur</mat-error>
          </mat-form-field>
          <div class="form-field" appearance="outline">           
              <mat-slide-toggle class="form-field" name="isAdmin" appearance="outline" [ngModel]="myModel.isAdmin" color="primary"  ngModel> is Admin </mat-slide-toggle>
          </div>
          

          <button mat-raised-button color="primary" [disabled]="!f.form.valid" type="submit">M'inscrire</button>
        </form>
      </div>
    </mat-card>
   
  </div>
