<div class="tableau-list" >

  <mat-tab-group  mat-align-tabs="left">
    <mat-tab label="Nos Suites">
      <div class = "card" >
        <div class = "card-header"> Liste des suites </div>
        <div class = "card-body">
          <div class="text-right" >
            <button class="add-button" *ngIf="isAdmin()" mat-raised-button  (click)='onCreate("suite")'  > <mat-icon>add</mat-icon>Ajouter une suite</button>

          </div>

              <div *ngFor= "let r of suites" class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class=" col-md-5">
                    <img class="img" src="https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=%5B800%2C500%5D&w=1600&h=838&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2017%2F10%2Fliving-room-hotel-president-wilson-geneva-EXPENSIVESUITE1017.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-5">
                    <div class="card-body">
                      <h3 class="card-title"> <b>Suite n° {{r.roomNumber}} - {{r.name}}</b></h3>
                      <p class="card-text">Description : {{r.description}}</p>
                      <p class="card-text">Etage : {{r.floor}}</p>
                      <p class="card-text">Nombre de chambres : {{r.nbRoom}}</p>
                      <p class="card-text">Cuisine : {{r.hasKitchen== true ? "oui" : "non"}}</p>
                      <p class="card-text">Prix pour la nuit: {{r.price}} €</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="card-body">
                      <button mat-raised-button color="grey" (click)="onReserver(r)"> Réserver</button>
                    </div>
                    <div class="card-body">
                      <button *ngIf="isAdmin()" mat-icon-button (click)='onEdit("suite",r)'>
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button *ngIf="isAdmin()" mat-icon-button color="warn"  (click)="onDelete(r.idRoom)">
                        <mat-icon>delete_outline</mat-icon>
                      </button>  
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    </mat-tab>
    <mat-tab label="Nos Salles"> 
      <div class = "card" >
        <div class = " card-header"> Liste des salles </div>
        <div class = "card-body">
          <div class="text-right" >

          <button class="add-button" *ngIf="isAdmin()" mat-raised-button (click)='onCreate("venue")'  ><mat-icon>add</mat-icon>Ajouter une Salle</button>
          </div>
          <div *ngFor= "let r of venues" class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img src="https://www.easyweddings.co.uk/articles/wp-content/uploads/sites/5/2019/08/kimpton-fitzroy-wedding-ceremony-reception-london-venue-021-945x500.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-5">
                <div class="card-body">
                  <h3 class="card-title"> <b>Salle n° {{r.roomNumber}} - {{r.name}}</b></h3>
                  <p class="card-text">Description : {{r.description}}</p>
                  <p class="card-text">Etage : {{r.floor}}</p>
                  <p class="card-text">Capacité : {{r.nbPerson}} personnes</p>
                  <p class="card-text">Disposition : {{r.setup== "PARTY" ? "Fête" : "Conférence"}}</p>
                  <p class="card-text">Podium : {{r.withPodium== true ? "Oui" : "non"}}</p>
                  <p class="card-text">Prix : {{r.price}} €</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="card-body">
                  <button mat-raised-button color="grey" (click)="onReserver(r)"> Réserver</button>
                </div>
                <div class="card-body ">
                  <button *ngIf="isAdmin()" mat-icon-button (click)='onEdit("venue",r)'>
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button *ngIf="isAdmin()" mat-icon-button color="warn"  (click)="onDelete(r.idRoom)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </mat-tab>
   
  </mat-tab-group>

  
</div>



